In [1]:
import pandas as pd
import os
import math
import requests
import re
from shapely.geometry import shape
import folium 
from wordcloud import WordCloud, STOPWORDS
import matplotlib.pyplot as plt
from PIL import Image
import numpy as np

In [2]:
tweets = pd.read_csv("./data/tweet_location_data_cleaned.csv")

In [3]:
tweets.head()

,created_at,text,user_location,user_name,user_verified,user_description,user_created_at,country,iso2,iso3,city,state
0,Wed Jan 20 23:59:58 +0000 2021,WE DID IT JOE!! \nYOUâ€™RE gonnandjfndndhebehr...,NaN,Kay Brittany,0.0,SkinCare Products @kayscoffeescrub 23 years yo...,Fri May 09 03:19:52 +0000 2014,No Location,NaN,NaN,NaN,Nan
1,Wed Jan 20 23:59:58 +0000 2021,"#JoeBiden : A better person, a better man, a b...",NaN,Rev. Al,0.0,Poor but Happy Democrat.,Sat Jul 28 19:35:49 +0000 2012,No Location,NaN,NaN,NaN,Nan
2,Wed Jan 20 23:59:57 +0000 2021,Girl Crushing on #KamalaHarris while at the sa...,NaN,RAJIV KUMAR,0.0,#Entrepreneur II Food Evangelist II Economist ...,Thu Feb 19 12:00:05 +0000 2009,No Location,NaN,NaN,NaN,Nan
3,Wed Jan 20 23:59:55 +0000 2021,Curious: how many #Trump supporters who canâ€™...,Brooklyn Ny,Yisroel,0.0,life enthusiast. wide eyed idealist. nerd wann...,Thu Mar 24 02:44:03 +0000 2011,United States of America,NY,NYC,Brooklyn,NaN
4,Wed Jan 20 23:59:55 +0000 2021,@ZaidZamanHamid's account has been withheld in...,NaN,Sohail Ashraf,0.0,NaN,Sat Jun 23 09:36:52 +0000 2012,No Location,NaN,NaN,NaN,Nan

In [4]:
tweets['userid'] = pd.factorize(tweets['user_name'])[0]

### Converting to Date and Time Format

In [5]:
tweets["created_at"] = pd.to_datetime(tweets["created_at"], errors='coerce')
tweets["created_at"] = tweets["created_at"].dt.strftime('%Y-%m-%d %H:%M:%S')

tweets["user_created_at"] = pd.to_datetime(tweets["user_created_at"], errors='coerce')
tweets["user_created_at"] = tweets["user_created_at"].dt.strftime('%Y-%m-%d %H:%M:%S')

C:\Users\sincl\AppData\Local\Temp\ipykernel_25520\1557084992.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  tweets["created_at"] = pd.to_datetime(tweets["created_at"], errors='coerce')
C:\Users\sincl\AppData\Local\Temp\ipykernel_25520\1557084992.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  tweets["user_created_at"] = pd.to_datetime(tweets["user_created_at"], errors='coerce')

In [6]:
tweets.sample(2)

,created_at,text,user_location,user_name,user_verified,user_description,user_created_at,country,iso2,iso3,city,state,userid
32989,2021-01-20 18:16:39,Excellent! Be sure to help your dad whenever h...,Hell In A Handbasket Ðÿˆ,Marni is Magpie,0.0,If you want labels to pigeonhole me...I'm a li...,2016-10-04 22:59:10,India,IN,IND,NaN,NaN,25793
21150,2021-01-20 19:48:23,Thanks!!! #Trump https://t.co/Xh3jmeKgNL,Chicago Usa,John P Stamos,0.0,life is good!!!!,2012-12-31 03:44:04,Japan,JP,JPN,Usa,NaN,16948

### Removing Special Characters

In [7]:
tweets['text'] = tweets['text'].str.replace(r'[^\w\s]','',regex=True) 
tweets['text'] = tweets['text'].apply(lambda x: re.split('https:\/\/.*', str(x))[0])
tweets['text'] = tweets['text'].str.title()
tweets['text'] = tweets['text'].str.strip()

In [8]:
tweets.sample(5)

,created_at,text,user_location,user_name,user_verified,user_description,user_created_at,country,iso2,iso3,city,state,userid
26318,2021-01-20 19:03:18,Itâs A New Day In America\nPotus Httpstcof85R3...,Japan,ð“—ð“²ð“­ð“®ð“´ð“ªð”ƒð“¾ ð“šð“¸ð“¾ð...,0.0,â—‹æ­Œè¬¡æ›² â—‹æ˜­å’Œã®åæ›² â—‹HeavyMetal ...,2011-10-17 21:14:39,Japan,JP,JPN,NaN,NaN,20833
15164,2021-01-20 20:49:04,Trump Couldnât Have Free Larry Hover Because H...,NaN,A. B. ã€½ï¸â„¢,0.0,NaN,2009-04-09 15:00:34,No Location,NaN,NaN,NaN,Nan,12401
37908,2021-01-20 17:51:56,Staceyabrams Joebiden Kamalaharris Staceyabram...,United States,ðŸŒŠðŸˆðŸŒŠAÌ·nÌ·gÌ·eÌ·lÌ· SÌ·nÌ·yÌ·dÌ·eÌ·rÌ·...,0.0,#TeamBiden #BidenHarris #MaskItUpðŸ˜· #Resiste...,2019-03-31 00:27:33,United States of America,NY,NYC,NaN,NaN,29483
26044,2021-01-20 19:05:26,Are There Any Trump Supporters Crying And Scre...,NaN,Just Bob â›“,0.0,"I like guns, knives, cheese and ðŸŒ®ðŸŒ®. | Ch...",2019-10-06 13:20:01,No Location,NaN,NaN,NaN,Nan,20633
25339,2021-01-20 19:10:45,To All You Donaldtrump Woters\nYou Are All Bra...,NaN,Timmy,0.0,NaN,2013-07-07 16:39:50,No Location,NaN,NaN,NaN,Nan,20108

In [9]:
user_columns = ['userid', 'user_verified', 'user_description', 'user_created_at']  
user = tweets[user_columns]
# user.to_csv("./data/user.csv", index = False)

tweets_columns = ['userid','user_name','text', 'country','created_at']
tweets_info = tweets[tweets_columns]
# tweets_info.to_csv("./data/tweets.csv",  index = False)

country = ['userid','country', 'iso2','iso3','city','state']
country = tweets[country]
# country.to_csv("./data/country.csv",  index = False)

In [10]:
user

,userid,user_verified,user_description,user_created_at
0,0,0.0,SkinCare Products @kayscoffeescrub 23 years yo...,2014-05-09 03:19:52
1,1,0.0,Poor but Happy Democrat.,2012-07-28 19:35:49
2,2,0.0,#Entrepreneur II Food Evangelist II Economist ...,2009-02-19 12:00:05
3,3,0.0,life enthusiast. wide eyed idealist. nerd wann...,2011-03-24 02:44:03
4,4,0.0,NaN,2012-06-23 09:36:52
...,...,...,...,...
38954,30227,0.0,Arizona desert dweller for 30+ years. Lover of...,2016-11-28 19:21:42
38955,30228,0.0,â€œNever be limited by others peopleâ€™s limit...,2019-01-22 21:43:13
38956,30229,0.0,NaN,2009-04-17 19:35:49
38957,30230,0.0,"A conservative dude, Team #MCFC , retweet not ...",2011-11-25 17:47:10
38958,30231,0.0,Love to #design ! #TVBlogger -----------------...,2013-10-09 13:35:04

In [11]:
tweets_info

,userid,user_name,text,country,created_at
0,0,Kay Brittany,We Did It Joe \nYouâre Gonnandjfndndhebehrbeja...,No Location,2021-01-20 23:59:58
1,1,Rev. Al,Joebiden A Better Person A Better Man A Bette...,No Location,2021-01-20 23:59:58
2,2,RAJIV KUMAR,Girl Crushing On Kamalaharris While At The Sam...,No Location,2021-01-20 23:59:57
3,3,Yisroel,Curious How Many Trump Supporters Who Canât St...,United States of America,2021-01-20 23:59:55
4,4,Sohail Ashraf,Zaidzamanhamids Account Has Been Withheld In I...,No Location,2021-01-20 23:59:55
...,...,...,...,...,...
38954,30227,Ron Lee AZ,I Wonder If Scumbag Dems Are As Completely Ama...,United States of America,2021-01-20 17:47:49
38955,30228,Kris,New President Just Dropped\nInauguration Biden...,United States of America,2021-01-20 17:47:48
38956,30229,JaneKC,Knocked It Right Out Of The Park And Then Some...,No Location,2021-01-20 17:47:48
38957,30230,ABOKI,Twitter Is Boring Without Trump,Nigeria,2021-01-20 17:47:48
38958,30231,#M'Sass âœŒðŸ½âœŒðŸ»,Joebiden Being Sworn In Today As The 46Th Pres...,Germany,2021-01-20 17:47:47

In [12]:
country

       userid                   country iso2 iso3      city    state
0           0               No Location  NaN  NaN       NaN      Nan
1           1               No Location  NaN  NaN       NaN      Nan
2           2               No Location  NaN  NaN       NaN      Nan
3           3  United States of America   NY  NYC  Brooklyn      NaN
4           4               No Location  NaN  NaN       NaN      Nan
...       ...                       ...  ...  ...       ...      ...
38954   30227  United States of America   US  USA       Usa  Arizona
38955   30228  United States of America   DC  USA     Miami      NaN
38956   30229               No Location  NaN  NaN       NaN      Nan
38957   30230                   Nigeria   NG  NGA       NaN      NaN
38958   30231                   Germany   DE  DEU       NaN      NaN

[38959 rows x 6 columns]

### Creating WordClouds

In [13]:
from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
import matplotlib.pyplot as plt

#### Wordcloud for All Countries

In [ ]:
text = " ".join(review for review in tweets.text)
stopwords = set(STOPWORDS)
stopwords.update(["Joe", "Biden", 'Trump', 'Kamalaharris','Bidenharrisinauguration','Inauguration', 'Today','Joebiden', 'Bidenharris'])

wordcloud = WordCloud(stopwords=stopwords, background_color="white").generate(text)

plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.show()

#### Wordcloud for Top Ten Countries

In [ ]:
top_countries = tweets[tweets['country'] != 'No Location']
top_countries = top_countries['country'].value_counts()
top_country_list = top_countries.index.tolist()
top_country_list = list(top_country_list)[:10]
top_country_list

In [ ]:
for country in top_country_list[:10]:  
    country_tweets = tweets[tweets['country'] == country]

    text = " ".join(review for review in country_tweets['text'] if isinstance(review, str))
    
    wordcloud = WordCloud(stopwords=stopwords,
                          background_color="white",
                          width=800,
                          height=400).generate(text)
    
    plt.figure(figsize=(10, 5))
    plt.imshow(wordcloud, interpolation='bilinear')
    plt.axis("off")
    plt.title(f"Word Cloud for Tweets from {country}")
    plt.show()

In [ ]:
country = tweets.groupby("country")
country.describe().head()

### Top Ten Countries with the Highest Frequency of Tweets

In [ ]:
top_countries = tweets[tweets['country'] != 'No Location']
top_countries = top_countries['country'].value_counts().head(20)
top_countries = pd.Series(top_countries)
top_countries

In [ ]:
country_counts = top_countries.reset_index() 
country_counts.columns = ['country', 'count']
country_counts['count_log'] = np.log(country_counts['count'])
country_counts

In [ ]:
plt.figure(figsize=(10, 6))
top_countries.plot(kind='bar')
plt.title('Top Countries by Tweet Count', fontsize=16)
plt.xlabel('Country', fontsize=12)
plt.ylabel('Number of Tweets', fontsize=12)

### World Map Showing the Distibution of Tweets

In [ ]:
m = folium.Map(location = [0,0], zoom_start = 2, zoom_control=False ,scrollWheelZoom=False, dragging=False)

geojson_url = 'https://raw.githubusercontent.com/python-visualization/folium/master/examples/data/world-countries.json'
response = requests.get(geojson_url)
geojson = response.json()

In [ ]:
folium.Choropleth(
    geo_data=geojson,
    data=country_counts,
    fill_color="Greens",
    columns=['country', 'count_log'],
    key_on='feature.properties.name',
    fill_opacity=0.8,
    line_opacity=0.4,
    legend_name="Tweet Locations Frequency"
).add_to(m)

In [ ]:
count_dict = dict(zip(country_counts['country'], country_counts['count']))

In [ ]:
geojson_layer = folium.GeoJson(
    geojson,
    name="Country Info",
    style_function=lambda x: {
        'fillOpacity': 0,
        'color': 'black',
        'weight': 0.1
    },
    tooltip=folium.GeoJsonTooltip(
        fields=['name', 'count'],
        aliases=['Country:', 'Tweet Count:'],
        localize=True,
        sticky=True,
        labels=True
    )
).add_to(m)

In [ ]:
for feature in geojson['features']:
    country_name = feature['properties']['name']
    feature['properties']['count'] = count_dict.get(country_name, 0)
    count = count_dict.get(country_name, 0)
    geom = shape(feature['geometry'])
    lon, lat = geom.centroid.coords[0]
    
    folium.Marker(
        location=[lat, lon],
        icon=folium.DivIcon(html=f"<div style='font-size: 7pt; color: black;'>{count}</div>")
    ).add_to(m)

In [ ]:
m