In [1]:
import pandas as pd
import os

In [2]:
tweets = pd.read_csv("./data/tweet_location_data_cleaned.csv")
tweets

,Unnamed: 0,created_at,text,user_location,user_name,user_verified,user_description,user_created_at,country,iso2,iso3,city,state
0,2,Wed Jan 20 23:59:58 +0000 2021,WE DID IT JOE!! \nYOUâ€™RE gonnandjfndndhebehr...,Nan,Kay Brittany,0.0,SkinCare Products @kayscoffeescrub 23 years yo...,Fri May 09 03:19:52 +0000 2014,Thailand,TH,THA,Nan,Nan
1,3,Wed Jan 20 23:59:58 +0000 2021,"#JoeBiden : A better person, a better man, a b...",Nan,Rev. Al,0.0,Poor but Happy Democrat.,Sat Jul 28 19:35:49 +0000 2012,Thailand,TH,THA,Nan,Nan
2,4,Wed Jan 20 23:59:57 +0000 2021,Girl Crushing on #KamalaHarris while at the sa...,Nan,RAJIV KUMAR,0.0,#Entrepreneur II Food Evangelist II Economist ...,Thu Feb 19 12:00:05 +0000 2009,Thailand,TH,THA,Nan,Nan
3,5,Wed Jan 20 23:59:55 +0000 2021,Curious: how many #Trump supporters who canâ€™...,Brooklyn Ny,Yisroel,0.0,life enthusiast. wide eyed idealist. nerd wann...,Thu Mar 24 02:44:03 +0000 2011,United States of America,NY,NYC,Brooklyn,NaN
4,6,Wed Jan 20 23:59:55 +0000 2021,@ZaidZamanHamid's account has been withheld in...,Nan,Sohail Ashraf,0.0,NaN,Sat Jun 23 09:36:52 +0000 2012,Thailand,TH,THA,Nan,Nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38954,44297,Wed Jan 20 17:47:49 +0000 2021,I wonder if scumbag Dems are as completely ama...,Arizona Usa,Ron Lee AZ,0.0,Arizona desert dweller for 30+ years. Lover of...,Mon Nov 28 19:21:42 +0000 2016,United States of America,US,USA,Usa,Arizona
38955,44298,Wed Jan 20 17:47:48 +0000 2021,New President Just Dropped\n#Inauguration #Bid...,Miami Dc,Kris,0.0,â€œNever be limited by others peopleâ€™s limit...,Tue Jan 22 21:43:13 +0000 2019,United States of America,DC,USA,Miami,NaN
38956,44299,Wed Jan 20 17:47:48 +0000 2021,Knocked it right out of the park and then some...,Nan,JaneKC,0.0,NaN,Fri Apr 17 19:35:49 +0000 2009,Thailand,TH,THA,Nan,Nan
38957,44300,Wed Jan 20 17:47:48 +0000 2021,Twitter is boring without #Trump,Portharcourt Nigeria,ABOKI,0.0,"A conservative dude, Team #MCFC , retweet not ...",Fri Nov 25 17:47:10 +0000 2011,Nigeria,NG,NGA,NaN,NaN
38958,44301,Wed Jan 20 17:47:47 +0000 2021,#JoeBiden being sworn in today as the 46th Pre...,Germany,#M'Sass âœŒðŸ½âœŒðŸ»,0.0,Love to #design ! #TVBlogger -----------------...,Wed Oct 09 13:35:04 +0000 2013,Germany,DE,DEU,NaN,NaN

In [4]:
tweets.to_csv("./dattweet_location_data_cleaned.csv")

In [5]:
%history

import pandas as pd
import os
tweets = pd.read_csv("./data/tweet_location_data_cleaned.csv")
tweets
tweets.loc[(tweets["user_location"] == "Nan"), "country"] = "No Location"
tweets.loc[(tweets["user_location"] == "Nan"), "city"] = ""
tweets.loc[(tweets["user_location"] == "Nan"), "iso2"] = ""
tweets.loc[(tweets["user_location"] == "Nan"), "iso3"] = ""
tweets.loc[(tweets["user_location"] == "Nan"), "user_location"] = ""
tweets.to_csv("./data/tweet_location_data_cleaned.csv")
%history